*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}
.hero{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}

header h1{
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}
p{
    width: 80%;
}
.wrapper{
    width: 100%;
    margin: 50px auto;

}
.wrapper ul{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.wrapper ul li{

    list-style-type: none;
    border-radius: 10px;
    margin: 0px 10px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a figure{
    margin: 0;
}
ul li figcaption{
    width: 350px;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0px;
}
